.gallery {
  padding-top: 70px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.photo-card {
  display: inline-block;
  width: 350px;
  border-radius: 10px;
}

.photo {
  min-width: 350px;
  height: 250px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;

  width: 100%;

  font-size: 10px;

  background: radial-gradient(
      circle 610px at 5.2% 51.6%,
      rgba(245, 237, 251, 0.767) 0%,
      rgba(238, 238, 253, 0.699) 97.5%
    )
    no-repeat fixed;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;

  color: #0d05f3;
  text-shadow: 1px 1px 1px #fff;
}

.info-item-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 9.375rem;
  padding: 0.625rem;
}

ul {
  list-style-type: none;
}
