html {
  background: linear-gradient(
    106deg,
    rgba(19, 136, 245, 0.48) 30%,
    rgba(246, 235, 18, 0.48) 64%
  );
  min-height: 100vh;
  // background: radial-gradient(circle 610px at 5.2% 51.6%, rgb(241, 223, 255) 0%, rgb(225, 225, 255) 97.5%) no-repeat fixed;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
